# Auto detect text files and perform LF normalization
* text=auto

# JavaScript
*.js text eol=lf
*.json text eol=lf

# Docker
Dockerfile text eol=lf
*.dockerignore text eol=lf

# Config
*.toml text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

# Markdown
*.md text eol=lf

# Certificates
*.pem binary
*.key binary
*.crt binary
*.der binary

